<%- include header %>
<p>
<% if (user && (user.name == post.name)) { %>
  <span><a  class="btn btn-small" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
  <span><a  class="btn btn-small" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
<% } %>
</p>
<p class="info">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
  日期：<%= post.time.minute %>
</p>
<div class='well jumbotron'>
<p><%= post.post %></p>
</div>
<%- include comment %>
<%- include footer %> 